@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/* ! INICIO GENERAL */
*,
*::after,
*::before{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    --c1--1--: #fff;
    --c1--2--: #121212;
    --c1--3--: #c25780;
    --c1--4--: #ffe55e;
    --c1--5--: #faf6fa;
    --boton-rosa--: rgb(235, 107, 129);

    --texto--gris--: #3e3e3e;
    --linear--1--: linear-gradient(0deg, rgba(235, 38, 140, 0.1) 0%, rgba(168, 58, 153, 0) 100%);
    --linear--2--: linear-gradient(0deg, rgba(247, 68, 127, 0.3) 0%, rgba(168, 58, 153, 0) 100%);
    --linear--3--: linear-gradient(0deg, rgba(168, 58, 122, 0.1) 0%, rgba(168, 58, 168, 0) 100%);
    --shadow--: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    background: var(--c1--1--);
    overflow-x: hidden;
}



a {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

ul {
    list-style: none;
}

.row {
    display: flex;
}

.flex {
    flex-wrap: wrap;
    gap: clamp(2em, 5vw, 5em);
}

.flex>* {
    flex: 1 1 25em;
}

.column {
    display: grid;
}

.grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.page-btn:hover svg {
    fill: rgba(194, 87, 128, 0.97);
    transition: fill 1s;
    }

    .page-btn:not(:hover) svg {
    fill: #fff;
    transition: fill 1s;
}
/* !FIN GENERAL */

/* !HEADER */
header {
    padding: 0.5em 0;
    background-color: rgba(255, 255, 255, 0.95);
    position: static;
    top: 0;
    z-index: 1000;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1125px;
    margin: 0 auto; 
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0 2em;
    position: relative;
    transition: none;
}

.logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
    object-fit: cover;
}

.logo:hover {
    transform: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Mantenemos la sombra original */
}

nav {
    flex-grow: 0;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li:last-child,
nav .nav-footer {
    display: none;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 1em;
}

.toggleMenu, .lightDark {
    cursor: pointer;
}

nav a {
    font-size: 0.85em;
    text-transform: uppercase;
    position: relative;
    padding: 5px 0;
    font-weight: 500;
    color: #c25780;
}

nav a:hover {
    color: var(--c1--3--);
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, transparent, var(--c1--3--), transparent);
    transition: width 0.3s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    transform: translateY(-2px);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Page Button */
.page-btn,
.page-btn.active:hover {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--c1--1--);
    border: 1px solid var(--boton-rosa--);
    background: var(--boton-rosa--);
    max-width: max-content;
    padding: 0.3em 1em;
    stroke: var(--c1--1--);
    fill: transparent;
    align-items: center;
    gap: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.page-btn:hover,
.page-btn.active {
    background: transparent;
    color: var(--c1--3--);
    stroke: var(--c1--3--);
}
/* End Page Button */
/* !FIN HEADER */


/* !HERO-PORTADA */
.hero {
    /* background: var(--linear--1--), url(./imgs/hero-bg.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    color: #2b2b2b; */
    /* background-image: url(./imgs/catfondo.png); */
    background-image: url(./imgs/hero-alargada-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative; /* Añadimos posición relativa */
    padding-bottom: 100px; /* Añadimos espacio para las olas */
}

.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Altura de las olas */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ffffff' fill-opacity='1' d='M0,96L48,112C96,128,192,160,288,160C384,160,480,128,576,112C672,96,768,96,864,112C960,128,1056,160,1152,160C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.hero .flex {
    flex-wrap: wrap;
    min-height: calc(100vh - 101.4px);
    padding: 2em 0;
}

.hero-content {
    align-self: center;
}
.h1-descripcion {
    font-family: 'Lobster', cursive;
    font-size: 1.8em;
    color: var(--c1--3--);
    letter-spacing: 1px;
}

h1 {
    font-family: 'DynaPuff';
    font-size: clamp(40px, 3vw, 80px);
    /* line-height: clamp(45px, 4vw, 75px); */
    color: white;
    font-weight: 400;
}

p {
    font-size: 1em;
    padding: 1em 0;
}

.hero-content p {
    color: var(--texto--gris--);
    max-width: 75%;
}

.hero-img {
    position: relative;
    z-index: 1;
}
/* !FIN HERO-PORTADA */


/* !SERVICIOS */
.service {
    background: var(--linear--2--);
    padding: 2em 0 100px; /* padding inferior para las olas */
    position: relative;
}

.service::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px; /* Altura de las olas */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ffffff' fill-opacity='1' d='M0,160L48,170.7C96,181,192,203,288,202.7C384,203,480,181,576,165.3C672,149,768,139,864,154.7C960,171,1056,213,1152,218.7C1248,224,1344,192,1392,176L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h2,
h2 span {
    font-family: 'DynaPuff', cursive;
    font-size: clamp(25px, 2vw, 70px);
    line-height: clamp(45px, 5vw, 75px);
    text-transform: capitalize;
    color: var(--texto--gris--);
    font-weight: 600;
}

h2 span {
    border-bottom: 2.5px dotted var(--c1--3--);
}

/* *Carousel-Slider */
.carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 400px;
    gap: 10px;
    overflow-x: auto;
    padding: 20px 0;
    scroll-snap-type: x mandatory;
    margin: 2em 0 1em 0;
    
}

.carousel > div {
    flex: 0 0 80%;
    max-width: 300px;
    height: 100%;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;
    scroll-snap-align: center;
}

.carousel > div:nth-of-type(1) {
    background: url("./imgs/services-slider/arenero.jpg")
        no-repeat 50% / cover;
}
.carousel > div:nth-of-type(2) {
    background: url("./imgs/services-slider/cepillado.jpg")
        no-repeat 50% / cover;
}
.carousel > div:nth-of-type(3) {
    background: url("./imgs/services-slider/visitas.jpg")
        no-repeat 50% 90% / cover;
}
.carousel > div:nth-of-type(4) {
    background: url("./imgs/services-slider/juegos.jpg")
        no-repeat 50% / cover;
}
.carousel > div:nth-of-type(5) {
    background: url("./imgs/services-slider/fotos.jpg")
        no-repeat 50% / cover;
}
.carousel > div:nth-of-type(6) {
    background: url("./imgs/services-slider/medicamentos.jpg")
        no-repeat 40% / cover;
}

.carousel > div .content {
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    align-items: center;
    text-align:center;
    padding: 15px;
    opacity: 1;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    background: linear-gradient(
        0deg,
        rgba(24, 3, 12, 0.9) 30%,
        rgba(66, 32, 50, 0.25) 100%
    );
    transform: translatey(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s;
    visibility: visible;
}

.carousel > div .content h2 {
    font-size: 0.85em; /* Tamaño de fuente más pequeño para h2 */
    margin-bottom: 0.5em; /* Espacio debajo del h2 */
    line-height: normal; /* quitamos el clamp de los h2s anteriores*/
    position: relative;
    padding-bottom: 0.3em;
    color: white;
    font-family: 'Montserrat';
    text-transform: uppercase;
    
}

.carousel > div .content h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Ajusta el grosor del borde inferior */
    background: linear-gradient(to right, transparent, pink, transparent);
}

.carousel > div .content span {
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
}
/* *Fin Carousel-Slider */

.service .flex {
    padding-top: 2em;
}

.service-img {
    position: relative;
    background-image: url(./imgs/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 550px;
}

.play {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    fill: var(--c1--1--);
    flex-direction: column;
    background-image: url(./imgs/bg3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-width: 120px;
    min-height: 100px;
    align-items: center;
    justify-content: center;
}

.play:hover {
    fill: var(--c1--4--);
}

.service-img img {
    width: 100%;
    max-height: 300px;
    align-self: center;
    justify-content: center;
    object-fit: contain;
}

.service-content {
    background-image: url(./imgs/paw.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100px;
}

.service-content h2 {
    color: var(--texto--gris--);
}

.service-content div {
    align-self: center;
}

.service-content .descripcion-galeria {
    padding: 1em 0em 2em 0em;
}



.service .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}


.service .page-btn {
    margin-bottom: 3em;
    align-self: center;
}

/* !FIN SERVICIOS */


/* !NOSOTROS */
.about {
    flex-wrap: wrap-reverse;
    padding: 4em 0.5em;
    color: var(--texto--gris--);
}

.about-content {
    background-image: url(./imgs/coffee.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 120px;
    opacity: 0.85;
}

.about-content h3 {
    padding: 1em 0;
    font-size: 1em;
    color: var(--c1--3--);
}

.about-content h3+p {
    padding: 0em 0 2em 0;
    font-size: 1em;
}

.about-content .page-btn {
    margin-top: 2em; /* Añade espacio entre el texto y el botón */
}

.about-img {
    justify-content: center;
}

.about-img img {
    width: 90%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 40% 60% 70% 30% / 50% 60% 40% 50%;
    transition: all 0.3s ease;

}

.texto-oculto {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/* !FIN NOSOTROS */


/* !TESTIMONIOS */
.testimonials {
    background: var(--linear--2--);
    padding: 4em 0 100px; /* Aumentamos el padding inferior para las olas */
    position: relative; /* Añadimos posición relativa */
    color: #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials > .page-btn {
    margin-top: 2em;
    margin-bottom: 4em;
}

.testimonials::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px; /* Altura de las olas */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ffffff' fill-opacity='1' d='M0,160L48,170.7C96,181,192,203,288,202.7C384,203,480,181,576,165.3C672,149,768,139,864,154.7C960,171,1056,213,1152,218.7C1248,224,1344,192,1392,176L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.testimonials h2 {
    text-align: center;
    margin-bottom: 1.1em;
}


.testimonial-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    max-width: 1200px;
    gap: 2em;
    padding: 1em 0;
    /* scrollbar-width: none; */
    -ms-overflow-style: none;
    cursor: grab;
    -webkit-user-select: none;
    user-select: none;
}

.testimonial-slider:active {
    cursor: grabbing;
}

.testimonial-slider::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
}

.testimonial-card {
    flex: 0 0 320px;
    background-color: #fff;
    border-radius: 35px;
    padding: 2em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
    transition: all 0.3s ease;
}

.testimonial-card:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.client-info {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.client-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1em;
    object-fit: cover;
}

.client-details {
    display: flex;
    flex-direction: column;
}

.client-info h3 {
    margin: 0;
    font-size: 1em;
}

.client-info span {
    font-size: 0.7em;
    color: #666;
    margin-top: 0.2em;
}


.testimonial-card p {
    /* margin-bottom: 1em; */
    font-style: italic;
}

.rating {
    color: #FFD700;
}

/* *puntitos de navegacion del slider */
.slider-nav {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.slider-nav-item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(194, 87, 128, 0.3);
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slider-nav-item.active {
    background-color: var(--c1--3--);
    transform: scale(1.2);
}
/* *Fin puntitos de navegacion del slider */
/* !FIN TESTIMONIOS */


.mobile-logo {
    display: none;
}


.page-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    /* ... otros estilos existentes ... */
}

.page-btn .fab {
    font-size: 1.2em;
}

.page-btn svg {
    margin-left: auto;
}


/* !FOOTER */
.footer {
    background-color: var(--c1--2--);
    color: var(--c1--1--);
    padding: 2em 0;
    position: relative;
    margin-top: 5em;
    font-size: 0.9em;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.8em;

}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    text-align: center;
}

.footer-logo img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1em;
}

.footer-links a {
    color: var(--c1--1--);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--c1--3--);
}

.footer-contact p {
    margin: 0.5em 0;
}

.footer-contact p span {
    font-size: 0.9em;
    color: #808080;
    display:none;
}

.footer-bottom {
    margin-top: 2em;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
}

.social-icon {
    color: var(--c1--1--);
    font-size: 1.5em;
    transition: color 0.3s ease;
    padding: 0 0.5em;
    opacity: 0.8;
}

.social-icon:hover {
    color: rgba(255, 255, 255, 0.6);
}

.ig {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}
.wsp {
    background: linear-gradient(45deg, #25D366, #1bc6b2, #0b9c8b);
}

.icon {
    font-family: 'Font Awesome 6 Brands';
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

.icon-mobile {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    margin-right: 10px;
    display: none; /* Oculto por defecto */
    font-style: normal;
}

.footer-contact .icon-mobile {
    display: inline-block;
    
}
/* !FIN FOOTER */



/* !MEDIAQUERIES PARA INDEX.HTML */

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1125px;
    }

    .rating {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 1150px) {
    .toggleMenu {
        cursor: pointer;
        background-image: url(./imgs/open.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        width: 30px;
        height: 30px;
        z-index: 1002;
        transition: background-size 0.3s ease-in-out;
    }

    .toggleMenu.active {
        position: fixed;
        right: 5%;
        top: 1.5em; /* para fijar la posición vertical */
        background-image: url(./imgs/close.svg);
        background-size: 25px;
        filter: invert(1);
    }

    nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        background: linear-gradient(to bottom, rgba(216, 137, 157, 0.97), rgb(226, 196, 209, 0.97)); /* Degradado rosa a blanco con transparencia */
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
        transition: right 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 1001;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }

    nav.active {
        right: 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 2em 2em;
        width: 100%;
    }

    nav ul li {
        margin: 0;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid;
        border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)) 1;
    }
    

    nav ul li:last-child,
    nav .nav-footer {
        display:inline-block;
    }



    

    nav a {
        font-size: 0.85em;
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
        display: block;
        padding: 1em 0.5em;
        color: #ffffff;
    }

    nav.active a {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.3s;
    }

    nav a:hover {
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
        color: #ffffff;
        transition: background 0.3s ease 0.1s;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin: 0;
        z-index: 1003;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-controls {
        order: 2;
        z-index: 1003;
    }

    .desktop-logo {
        display: none;
    }

    .icon-mobile {
        display: inline-block;
        font-size: 0.8em;
        margin-right: 5px;
    }

    .social-icon {
        border-radius: 50%;
        background-color: rgba(156, 156, 156, 0.1);
        padding: 0.6em 0.8em;
        margin: 0 0.2em;
    }
}



@media (max-width: 767px) {
    header.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        padding: 0.6em 1em;
        position: fixed;
        top: 0;
    }

    body {
        padding-top: 60px;
    }

    nav {
        width: 75%;
    }

    nav ul li {
        text-align: start;
        margin-bottom: -1.5em;
    }

    nav ul li:nth-child(3) {
        border-bottom: none;
        display: none;
    }

    nav a {
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
        display: block;
        padding: 1em 0.5em;
        color: #ffffff;
        font-size: 0.85em;
    }

    .h1-descripcion {
        font-size: 1.5em;
        font-family: 'Dancing Script';
    }

    .mobile-logo {
        display: inline-block;
    }

    .desktop-logo {
        display: none;
    }

    .hero-content {
        align-self: center;
        margin-top: -30px;
    }

    .hero-content h1 {
        color: white;
        line-height: 1.2em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
        max-width: 90%;
    }

    .hero-content p {
        padding-top: 0.6em;
        color: rgba(255, 255, 255, 1);
        max-width: 75%;
        text-align: start;
        letter-spacing: 0px;
        font-weight: 400;
        font-size: 0.95em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.07);
    }
    

    .hero-img {
        margin-top: -3em;
    }

    .hero {
        padding-bottom: 60px; /* reducir el padding en mobile */
    }
    

    .hero::after {
        height: 50px; /* reducir altura de las olas en móviles */
    }

    .service {
        padding-bottom: 50px; 
    }

    .service::after {
        height: 50px; /* altura de las olas en mobile */
    }

    .service-cards {
        padding-top: 2em;
    }

    .about-img img {
        box-shadow: -10px 10px 0 #f0d6d6;
        border-radius: 30% 70% 70% 40% / 40% 30% 70% 70%;
    }

    .carousel .content span {
        padding-bottom: 1em;
    }

    .service-content .descripcion-galeria {
        font-size: 0.9em;
        color: var(--texto--gris--);
        margin-top: 1em;
    }

    .service-content {
        background-size: 80px;
    }

    .about-content h2+span {
        font-size: 1.2em;
    }

    .about-content h3{
        font-size: 0.9em;
    }

    .about-content h3+p {
        font-size: 0.9em;
        margin: 1em 0em;
    }
    .about-content .page-btn {
        margin-top: 0em;
    }

    .about-content {
        background-size: 80px;
    }

    .rating {
        font-size: 1.2em;
    }

    .testimonials {
        padding-bottom: 50px; /* Reducimos el padding en móviles */
    }

    .testimonials::after {
        height: 50px; /* Reducimos la altura de las olas en móviles */
    }

    .testimonial-card {
        flex: 0 0 300px;
    }

    .testimonial-card p {
        font-size: 0.9em;
    }

    /* *Footer */
    .footer .container {
        padding: 1em;
    }

    .footer-content {
        gap: 1em;
    }

    .footer-links ul {
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }

    .footer-links a {
        font-size: 0.9em;
        
    }

    .footer-contact p {
        font-size: 0.9em;
    }


    .footer-bottom p{
        font-size: 1em;
    }

    .footer-social {
        display: flex;
        gap: 1em;
        margin-top: 1em;
    }
    
    .social-icon {
        color: var(--c1--1--);
        font-size: 1.5em;
        transition: color 0.3s ease;
        padding: 0.6em 0.8em;
        opacity: 0.8;
    }
    
    .social-icon:hover {
        color: rgba(255, 255, 255, 0.6);
    }

    .icon {
        font-family: 'Font Awesome 6 Brands';
        font-weight: 400;
        font-style: normal;
        font-size: 1.5em;
    }

    .carousel {
    justify-content: unset;
    }

    .about-content {  /* ?Añadimos espacio para que el cafecito no se corte */
    padding-bottom: 1.3em;
            
    }
}
    /* *Fin Footer */


/* Media query para tablets y desktop */
@media screen and (min-width: 768px) {
    
    .client-info h3 {
        font-size: 1.2em;
    }

    .client-info span {
        font-size: 1em;
    }

    .carousel {
        height: 500px;
    }

    .carousel > div {
        flex: 0 0 120px;
        max-width: none;
    }

    .carousel > div .content {
        opacity: 0;
        transform: translatey(100%);
        visibility: hidden;
    }

    .carousel > div:hover {
        flex: 0 0 250px;
        box-shadow: 1px 3px 15px #7645d8;
        transform: translatey(-30px);
    }

    .carousel > div:hover .content {
        opacity: 1;
        transform: translatey(0%);
        visibility: visible;
    }

    .about-img img {
        filter: drop-shadow(-10px 10px #f0d6d6);
    }
}

/* Ajustes adicionales para desktop */
@media screen and (min-width: 1024px) {

    .testimonial-slider {
        flex-direction: column;
        margin: 0 auto;
        max-width: 80%;
    }
    .slider-nav{
        display: none;
    }
    .testimonial-card {
        padding: 2.5em;
        margin: 0em 2em;
        flex: 0 0 260px;
    }

    .client-info img {
        width: 70px;
        height: 70px;
    }

    .client-info h3 {
        font-size: 1.2em;
    }

    .client-info span {
        font-size: 0.9em;
    }

    .testimonial-card p {
        font-size: 1em;
        padding: 0.8em 0em;
    }

    .icon-mobile {
        display: inline-block;
        font-size: 0.8em;
        margin-right: 5px;
    }

    .ocultariconos {
        display: none;
    }

    .social-icon {
        border-radius: 50%;
        padding: 0.6em 0.8em;
        margin: 0 0.2em;
    }
}

@media screen and (max-width: 432px) {
    .hero {
        background-position: -300px -25px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}



/* !FIN MEDIAQUERIES PARA INDEX.HTML */
/*todo --------------------- FIN DE INDEX.HTML --------------------- */


/*todo ------------------------------------------------------------------- */
/*todo --------------------- INICIO DE SERVICIOS.HTML--------------------- */
/*todo ------------------------------------------------------------------- */
:root {
    --primary-color: #C25780;
    --secondary-color: #f04c83;
    --background-color: #f8f9fa;
    --text-color: #4b4b4b;
    --card-background: #ffffff;
    --hover-color: #7209b7;
}


.container-header-servicios {
    max-width: 2950px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.container-pageservicios {
    width: 90%;
    max-width: 2200px;
    margin: 0 auto;
    padding: 4rem 0;
}

.header-servicios {
    text-align: center;
    margin-bottom: 3rem;
    animation: fadeInUp 1s ease-out;
}

.container-pageservicios h1 {
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
    font-family: 'DynaPuff';
    font-weight: 600;
    width: 70%;
}

.container-pageservicios h1::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 50%;
    height: 3px;
    background-color: var(--secondary-color);
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.container-pageservicios h1:hover::after {
    width: 80%;
}

.intro {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 3rem;
    font-size: 1em;
    color: var(--texto--gris--);
    animation: fadeInUp 1s ease-out 0.3s both;
    
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
    max-width: 70%;
    margin: 0 auto;
}


.cta {
    text-align: center;
    margin-top: 4rem;
    padding: 3rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    animation: fadeInUp 1s ease-out 1s both;
}

.cta::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 80%);
    transform: rotate(45deg);
    animation: shine 3s infinite;
}

.cta h2 {
    text-transform: none;
}

@keyframes shine {
    from { transform: rotate(45deg) translateY(-100%); }
    to { transform: rotate(45deg) translateY(100%); }
}

.cta h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
    color: white;
}

.cta p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    position: relative;
    z-index: 1;
}

.cta .button {
    display: inline-block;
    background-color: white;
    /* color: white; */
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.cta .button:link,
.cta .button:visited,
.cta .button:active {
    color: black;
    text-decoration: none;
}


.cta .button a {
    color: black;
}

.cta .button:hover {
    transform: scale(1.05);
    color: black;
}

.cta .button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease-out;
}

.cta .button:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

.container-pageservicios.button {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 400;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.container-pageservicios .button:hover {
    /* background-color: var(--hover-color); */
    color: black;
    transform: scale(1.05);
}

.container-pageservicios .button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease-out;
}

.container-pageservicios .button:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 768px) {
    .container-pageservicios {
        padding: 2rem 0;
    }
    .services-grid {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cta {
        padding: 2rem;
    }

    .intro {
        text-align: justify;
        margin: 0 1em 2em 1em;
    }
    .services-grid {
        grid-template-columns: minmax(300px, 1fr);
    }
}

@media (min-width: 992px) {
    .services-grid {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .services-grid {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

/*todo ------------------------------------------------------------------- */
/*todo --------------------- FIN DE SERVICIOS.HTML--------------------- */
/*todo ------------------------------------------------------------------- */





/*todo ------------------------------------------------------------------- */
/*todo --------------------- INICIO DE SOBREMI.HTML--------------------- */
/*todo ------------------------------------------------------------------- */

.container-sobremi {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    color: var(--texto--gris--);
}

@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container-sobremi h1 {
    font-weight: 600;
    font-size: 2.5em;
    text-align: center;
    color: var(--c1--3--);
    margin-bottom: 2em;
    position: relative;
    animation: slideFromTop 2s ease-out forwards;
    font-family: 'DynaPuff';
    background-image: url('../imgs/catpaws.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px; 
    padding: 60px 60px; 
}

.container-sobremi h1::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 50%;
    height: 3px;
    background-color: var(--secondary-color);
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.container-sobremi h1:hover::after {
    width: 80%;
}

.about-section-sobremi {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    background: var(--linear--1--);
    padding: 2em;
    border-radius: 20px;
    margin-bottom: 3em;
    font-family: 'Montserrat';
}

.about-section-sobremi .sobremi-p3, .sobremi-p4 {
    padding: 0;
}

.about-text-sobremi {
    flex: 1;
    min-width: 300px;
}

.about-text-sobremi h2 {
    font-family: 'DynaPuff', cursive;
    color: var(--c1--3--);
    font-size: 1.5em;
    margin-bottom: 0.5em;
    animation: fadeInUp 2s ease-out;
    font-weight: 300;
}

.about-image-sobremi {
    flex: 1;
    min-width: 300px;
}

.about-image-sobremi img {
    width: 100%;
    max-height: 600px;
    border-radius: 40% 60% 70% 30% / 50% 60% 40% 50%;
    object-fit: cover;
    transition: all 0.3s ease;
    filter: drop-shadow(-10px 10px #f0d6d6);
}

.features-sobremi {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin: 4em 0;
}

.feature-card-sobremi {
    font-size: 0.95em;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.95) 0%,
        rgba(255, 239, 250, 0.9) 20%,
        rgba(194, 87, 128, 0.2) 50%,
        rgba(255, 239, 250, 0.9) 80%,
        rgba(255, 255, 255, 0.95) 100%
    );
    border-radius: 20px;
    padding: 2em;
    text-align: center;
    transition: all 0.3s ease;
    border: 1px solid rgba(249, 189, 238, 0.6);
    box-shadow: 
        0 5px 15px rgba(194, 87, 128, 0.2),
        inset 0 0 20px rgba(255, 255, 255, 0.5);
}

.feature-card-sobremi:hover {
    transform: translateY(-10px);
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.95) 0%,
        rgba(255, 239, 250, 0.9) 25%,
        rgba(194, 87, 128, 0.3) 50%,
        rgba(255, 239, 250, 0.9) 75%,
        rgba(255, 255, 255, 0.95) 100%
    );
    box-shadow: 
        0 5px 15px rgba(194, 87, 128, 0.2),
        inset 0 0 20px rgba(255, 255, 255, 0.5);
}

.feature-card-sobremi img {
    width: 90px;
    height: 90px;
    margin-bottom: 1em;
    border-radius: 50%;
    padding: 10px;
    background-color: rgba(194, 87, 128, 0.1);
}

.feature-card-sobremi h3 {
    color: var(--c1--3--);
    margin-bottom: 0.5em;
    font-family: 'DynaPuff', cursive;
}

.container-sobremi h2 {
    text-align: center;
    color: var(--c1--3--);
    margin-bottom: 0em;
}

.gallery-sobremi {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin-top: 40px;
    justify-content: center;
}

.gallery-sobremi img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {

    .container-sobremi h1 {
         margin-bottom: 0.5em;
         background-size: 90px;
         padding: 20px 20px;
         background-position: bottom left;
         font-size: 2em;
    }

    .container-sobremi p {
        font-size: 0.95em;
    }
    .about-section-sobremi {
        flex-direction: column;
        padding: 1.5em;
    }
    .about-text-sobremi h2 {
        font-size: 1.4em;

    }

    .about-text-sobremi {
        margin-top: 0;
        font-size: 0.9em;
        font-family: 'Montserrat';
    }
    .about-section-sobremi .sobremi-p3 {
        font-size: 0.85em;
        font-family: 'Montserrat';
    }
    .about-section-sobremi .sobremi-p4 {
        font-size: 0.85em;
        font-family: 'Montserrat';
    }


    .about-image-sobremi img {
        max-height: 400px;
        border-radius: 30% 70% 70% 40% / 40% 30% 70% 70%;
    }

    .gallery-sobremi {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .feature-card-sobremi {
        padding: 1.5em;
    }
}

@media (min-width: 1024px) {
    .container-sobremi h1 {

        background-size: 150px; 
        padding: 40px 40px; 
    }
}

/*todo ------------------------------------------------------------------- */
/*todo --------------------- FIN DE SOBREMI.HTML--------------------- */
/*todo ------------------------------------------------------------------- */




/*todo ------------------------------------------------------------------- */
/*todo --------------------- INICIO DE GALERIA.HTML--------------------- */
/*todo ------------------------------------------------------------------- */


.container-galeria {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em 1em;
}
.container-galeria h1 {
    text-align: center;
    margin: 0 auto;
    color: var(--c1--3--);
    margin-bottom: 1em;
    width: 70%;
    position: relative;
    animation: slideFromTop 2s ease-out forwards;
    font-family: 'DynaPuff';
    font-size: 2em;
    font-weight: 600;
    width: 70%;
}

.container-galeria h1::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 50%;
    height: 3px;
    background-color: var(--secondary-color);
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.container-galeria h1:hover::after {
    width: 80%;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px 30px;
    padding: 20px 0;
}
.gallery-item {
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    border-radius: 15px;
    background-color: #fff;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}
.gallery-item:hover {
    transform: scale(1.05);
}
.gallery-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    /* filter: blur(1px); */
}

.gallery span {
    position: absolute;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.3);
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    font-family: 'Montserrat';
    width: 100%;
    pointer-events: none;
    text-align: center;
    font-weight: 600;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), transparent);
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    opacity: 0;
}

.lightbox.active {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
    position: relative;
    transform: scale(0.9);
    opacity: 0;
    transition: all 0.5s ease;
}

.lightbox.active .lightbox-content {
    transform: scale(1);
    opacity: 1;
}

.lightbox-image {
    max-width: 100%;
    max-height: 90vh;
    display: block;
    border-radius: 5px;
}
.close-lightbox {
    position: absolute;
    top: -40px;
    right: 0;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 40px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
.prev-button {
    left: 20px;
}
.next-button {
    right: 20px;
}
@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .gallery-item img {
        height: 280px;
    }
}



/*todo ------------------------------------------------------------------- */
/*todo --------------------- FIN DE GALERIA.HTML--------------------- */
/*todo ------------------------------------------------------------------- */






/*todo ------------------------------------------------------------------- */
/*todo --------------------- INICIO DE FAQ.HTML--------------------- */
/*todo ------------------------------------------------------------------- */

.container-faq {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    place-content: center;
    height: min-content;
    overflow: hidden;
    padding: 96px 72px;
    font-size: 0.9em;
}

.titulo-faq {
    margin: 2em;
    color: var(--texto--gris--);
    text-align: center;
    max-width: 800px;
}

.titulo-faq h1 {
    text-align: center;
    color: var(--c1--3--);
    margin-bottom: 1em;
    position: relative;
    animation: slideFromTop 2s ease-out forwards;
    font-family: 'DynaPuff';
    font-size: 2em;
    font-weight: 600;
}

.titulo-faq h1::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 50%;
    height: 3px;
    background-color: var(--secondary-color);
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.titulo-faq h1:hover::after {
    width: 80%;
}

.titulo-faq p {
    font-size: 1.1em;
}
.faq-item {
    margin-bottom: 15px;
  }
  
  .faq-question {
    flex: 0 0 auto;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid #ddd;
    padding: 1em 2em;
    width: 600px;
    height: auto;
    text-align: start;
    border-radius: 8px 8px 0px 0px;
    background-color: white;
    color: var(--texto--gris--);
  }

  .icono-pregunta {
        font-family: "Font Awesome 6 Free"; /* Asegúrate de que la fuente de Font Awesome esté aplicada */
        font-weight: 400; /* Asegúrate de usar el peso correcto para el ícono */
        font-size: 1.2em;
        padding-right: 0.4em;
        color: var(--texto--gris--);
  }
  .faq-question.no-border {
    border-bottom: none; /* Elimina el borde inferior */
}
  
  .faq-answer {
    opacity: 0;
    display: block;
    height: 0;
    overflow: hidden;
    background-color: white;
    padding: 1em 2em;
    border: 1px solid #ddd;
    border-top: none;
    width: 600px;
    text-align: center;
    font-size: 1em;
    line-height: 24px;
    text-align: start;
    transition: opacity 0.5s ease, height 0.3s ease;
    color: var(--texto--gris--);
  }

  .faq-answer.show {
    opacity: 1; /* Muestra la respuesta */
    height: auto; /* Permite que la altura se ajuste al contenido */
}

.faq-answer a,
.faq-answer a:link,
.faq-answer a:visited,
.faq-answer a:hover,
.faq-answer a:active {
    color: rgb(222, 0, 0);
    text-decoration: underline;
}

.masinfo {
    font-size: 0.8em;
    color: grey;
    text-align: center;
    margin-top: 3em;
}
  

/*! MEDIAQUERYS PARA FAQS */
@media (max-width: 768px) {
.container-faq {
    padding: 1.5em 1.5em;
}

.titulo-faq {
    margin: 2em 0em;
}

.titulo-faq h1 {
    /* font-size: 2.2em; */
    color: var(--primary-color);
    font-family: 'DynaPuff';
}

.titulo-faq p {
    font-size: 1em;
    text-align: justify;
    margin-top: 1.1em;
}

.faq-question {
    width: auto;
}

.faq-answer {
    width: auto;
    font-size: 0.9em;
}

.masinfo {
    font-size: 0.6em;
}
}

/*todo ------------------------------------------------------------------- */
/*todo --------------------- FIN DE FAQ.HTML--------------------- */
/*todo ------------------------------------------------------------------- */



/*? boton de contacto principal */ 
.button1 {
    --h-button: 48px;
    --w-button: 102px;
    --round: 0.75rem;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.25s ease;
    background: radial-gradient(
        65.28% 65.28% at 50% 100%,
        rgba(252, 127, 186, 0.8) 0%,
        rgba(223, 113, 255, 0) 100%
      ),
      linear-gradient(0deg, #f85a91, #f85a87);
    border-radius: var(--round);
    border: none;
    outline: none;
    padding: 6px 18px;
    /* margin-top: 1.5em; */
  }
  .button1::before,
  .button1::after {
    content: "";
    position: absolute;
    inset: var(--space);
    transition: all 0.5s ease-in-out;
    border-radius: calc(var(--round) - var(--space));
    z-index: 0;
  }
  .button1::before {
    --space: 1px;
    background: linear-gradient(
      177.95deg,
      rgba(255, 255, 255, 0.19) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .button1::after {
    --space: 2px;
    background: radial-gradient(
        65.28% 65.28% at 50% 100%,
        rgba(243, 179, 231, 0.8) 0%,
        rgba(223, 113, 255, 0) 100%
      ),
      linear-gradient(0deg, #f85a89, #f85a89);
  }
  .button1:active {
    transform: scale(0.95);
  }
  
  .fold {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    height: 1rem;
    width: 1rem;
    display: inline-block;
    transition: all 0.5s ease-in-out;
    background: radial-gradient(
      100% 75% at 55%,
      rgba(255, 113, 163, 0.8) 0%,
      rgba(223, 113, 255, 0) 100%
    );
    box-shadow: 0 0 3px black;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: var(--round);
  }
  .fold::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 150%;
    height: 150%;
    transform: rotate(45deg) translateX(0%) translateY(-18px);
    background-color: #e8e8e8;
    pointer-events: none;
  }
  .button1:hover .fold {
    margin-top: -1rem;
    margin-right: -1rem;
  }
  
  .points_wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    z-index: 1;
  }
  
  .points_wrapper .point {
    bottom: -10px;
    position: absolute;
    animation: floating-points infinite ease-in-out;
    pointer-events: none;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 9999px;
  }
  @keyframes floating-points {
    0% {
      transform: translateY(0);
    }
    85% {
      opacity: 0;
    }
    100% {
      transform: translateY(-55px);
      opacity: 0;
    }
  }
  .points_wrapper .point:nth-child(1) {
    left: 10%;
    opacity: 1;
    animation-duration: 2.35s;
    animation-delay: 0.2s;
  }
  .points_wrapper .point:nth-child(2) {
    left: 30%;
    opacity: 0.7;
    animation-duration: 2.5s;
    animation-delay: 0.5s;
  }
  .points_wrapper .point:nth-child(3) {
    left: 25%;
    opacity: 0.8;
    animation-duration: 2.2s;
    animation-delay: 0.1s;
  }
  .points_wrapper .point:nth-child(4) {
    left: 44%;
    opacity: 0.6;
    animation-duration: 2.05s;
  }
  .points_wrapper .point:nth-child(5) {
    left: 50%;
    opacity: 1;
    animation-duration: 1.9s;
  }
  .points_wrapper .point:nth-child(6) {
    left: 75%;
    opacity: 0.5;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
  }
  .points_wrapper .point:nth-child(7) {
    left: 88%;
    opacity: 0.9;
    animation-duration: 2.2s;
    animation-delay: 0.2s;
  }
  .points_wrapper .point:nth-child(8) {
    left: 58%;
    opacity: 0.8;
    animation-duration: 2.25s;
    animation-delay: 0.2s;
  }
  .points_wrapper .point:nth-child(9) {
    left: 98%;
    opacity: 0.6;
    animation-duration: 2.6s;
    animation-delay: 0.1s;
  }
  .points_wrapper .point:nth-child(10) {
    left: 65%;
    opacity: 1;
    animation-duration: 2.5s;
    animation-delay: 0.2s;
  }
  
  .inner {
    z-index: 2;
    gap: 6px;
    position: relative;
    width: 100%;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    transition: color 0.2s ease-in-out;
  }
  

  /* ? service card nueva */
  /* From Uiverse.io by FrM-bot */ 
/* From uiverse.io by @FrM-bot */
.scard {
    width: 300px;
    height: 400px;
    transition: all .3s;
    position: relative;
    border-radius: .5rem 2rem;
    box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.2);
  }
  
  .scard:hover {
    transform: scale(1.03);
  }
  
  .scard .img {
    transition: all .3s;
    background-image: url(./imgs/services-slider/visitas.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    
    /* background: #fa46a3;
    background: -webkit-linear-gradient(to right, #b33d7ca8, #f37fbb);
    background: linear-gradient(to right, #9f1c62f3, #f875b9); */
    width: 100%;
    position: relative;
  }

  .img::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo negro con opacidad media */
    z-index: 0;
}
  
  .scard .img:hover {
    transform: scale(1.1);
  }
  
  .scard .img-container {
    display: grid;
    border-radius: .5rem 2rem;
    height: 340px;
    overflow: hidden;
  }
  
  .scard .description {
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    text-align: start;
    padding: .5rem 1em;
    width: 90%;
    transition: all 0.5s ease;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-backdrop-filter: blur(.1rem);
    backdrop-filter: blur(.1rem);
    background-color: rgba(213, 29, 109, 0.5);
    border-radius: .5rem 2rem;
  }
  
  .scard .description:hover {
    transform: perspective(100px) translateX(7px) rotateX(3deg) rotateY(3deg) scale(1);
    box-shadow: none;
  }
  
  .scard .title {
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    font-size: 1.2em;
    padding-left: 1em;
    font-family: 'DynaPuff';
  }

  .scard h3 {
    color: white;
    position: absolute;
    text-align: start;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    width: 100%;
    font-size: 0.9em;
    line-height: 1.2em;
    font-family: 'Montserrat';
  }